*.gem
doc/

# Ignore Gemfile.lock to allow mutiple verions of compatible gems.
Gemfile.lock

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# only needed for development on the gem itself:
config/ci.yml
